/* 컨텐츠 */
main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents {
    margin-top: -50px;

    width: 80%;
    height: 80%;
}

.contents .main-section{
    display: flex;

    height: 75%;

    background-color: royalblue;
}

/* 앨범 */
.contents .main-section .album {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30%;
    height: 100%;

    background-color: aquamarine;
}

.contents .main-section .album .album-image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 20%;

    margin-top: 15px;

    background-color: beige;
}

.contents .main-section .album .album-image:hover {
    background-color: bisque;
}

.contents .main-section .album .album-image .album-upload-button {
    display: none;
}

.contents .main-section .album .album-image:hover .album-upload-button{
    display: block;
}

.contents .main-section .webcam-section{
    width: 75%;
    height: 100%;

    background-color: black;
}


/* 웹 캠 */
.contents .main-section .webcam-section .webcam {
    width: 100%;
    height: 75%;

    background-image: url(public/webcam.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* 버튼 */
.contents .main-section .webcam-section .buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 25%;

    background-color: bisque;
}

.contents .main-section .webcam-section .buttons button{
    margin: 30px;

    width: 20%;
    height: 30%;
}

/* 스티커 */
.contents .stickers {
    width: 100%;
    height: 25%;

    background-color: blueviolet;
}

/* 모달 */

.user-profile-modal {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);

} 

.user-profile-modal form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: azure;

    width: 30%;
    height: auto;
}

.user-profile-modal form button{
    margin: 20px;
}

.album-upload-modal {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);

} 

.album-upload-modal form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: azure;

    width: 60%;
    height: auto;
}

.album-upload-modal form img{
    width: 80%;
}

.album-upload-modal form button{
    margin: 20px;
}

.album-upload-modal form input{
    width: 80%;
}

.album-upload-modal form .button-wrapper{
    display: flex;
}

