.modal-signin {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);
} 

.modal-signin form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: azure;

    width: 30%;
    height: auto;
}

.modal-signin form button{
    margin: 20px;
}